* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
label {
	display: block;
	margin-bottom: 5px;
}
div.row {
	margin-top: 25px;
	display: flex;
	max-width: 600px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}
.row.email, .row.email > div, .row.email > div > input {
	width: 100%;
}